<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="nero_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00963614954335565 0.00016786624100977 0.044860101664403"
        rpy="0 0 0" />
      <mass
        value="0.487153985946125" />
      <inertia
        ixx="0.000448116331022417"
        ixy="5.78111047127811E-07"
        ixz="1.54743135248644E-05"
        iyy="0.000492511294798627"
        iyz="-4.11935494337721E-07"
        izz="0.000552986424582884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.619607843137255 0.650980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/base_link.dae" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin xyz="-0.00077 -0.00006 -0.00686" rpy="0 0 0" />
      <mass value="0.77" />
      <inertia ixx="0.00066690" ixy="0.00000274" ixz="0.00001463" iyy="0.00054501" iyz="0.00000183" izz="0.00051509" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link1.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.619607843137255 0.650980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link1.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.138"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.7402"
      upper="2.7402"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin xyz="-0.00011 -0.06072 0.00148" rpy="0 0 0" />
      <mass value="0.49" />
      <inertia ixx="0.00053808" ixy="0.00000079" ixz="0.00000009" iyy="0.00029435" iyz="0.00004088" izz="0.00040266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link2.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 0.875" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link2.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.2618"
      upper="3.3161"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin xyz="0.00014 0.00211 -0.04853" rpy="0 0 0" />
      <mass value="0.67" />
      <inertia ixx="0.00342538" ixy="0.00000072" ixz="0.00000283" iyy="0.00339240" iyz="0.00007226" izz="0.00026169" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link3.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.619607843137255 0.650980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link3.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.31 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.7925"
      upper="2.7925"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin xyz="-0.00013 -0.05482 0.00132" rpy="0 0 0" />
      <mass value="0.41" />
      <inertia ixx="0.00031331" ixy="0.00000009" ixz="0.00000007" iyy="0.00013204" iyz="0.00001401" izz="0.00023930" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link4.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.619607843137255 0.650980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link4.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.0472"
      upper="2.1817"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin xyz="0.00303 0.00617 -0.11778" rpy="0 0 0" />
      <mass value="0.56" />
      <inertia ixx="0.00082490" ixy="0.00000773" ixz="0.00002532" iyy="0.00078548" iyz="0.00004377" izz="0.00021015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link5.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.619607843137255 0.650980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link5.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 -0.27001 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.7925"
      upper="2.7925"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin xyz="0.00014 -0.00270 -0.00025" rpy="0 0 0" />
      <mass value="0.31" />
      <inertia ixx="0.00008181" ixy="0.00000028" ixz="0.00000018" iyy="0.00007176" iyz="0.00000007" izz="0.00007906" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link6.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link6.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.7505"
      upper="1.0123"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="-0.000139607625717852 -0.000102022251390804 -0.00275209775972314"
        rpy="0 0 0" />
      <mass
        value="0.00232665325657446" />
      <inertia
        ixx="9.44277513776404E-08"
        ixy="-3.07406565085618E-24"
        ixz="-5.21148689611849E-10"
        iyy="9.44244711276097E-08"
        iyz="2.55388843335658E-22"
        izz="1.77221804908522E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link7.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://nero_description/meshes/dae/link7.dae" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="0 -0.0235 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="100"
      velocity="10" />
  </joint>
</robot>